
body.modal-open {
    /* // block scroll for mobile;
    // causes underlying page to jump to top;
    // prevents scrolling on all screens */
    overflow: hidden;
    position: fixed;
}
body.viewport-lg {
    /* // block scroll for desktop;
    // will not jump to top;
    // will not prevent scroll on mobile */
    position: absolute; 
}

.modal {
    background: #9ccdd9;
}

.login-box {
    display: block;
    width: 280px;
    margin: auto;
    margin-top: 100px;
    padding: 30px;

}

#password {
    margin-top: 27px;
}

#user {
    margin-top: 27px
}

.login-btn {
    margin-top: 27px;
}

#home-search {
    width: 80%;
}

@media only screen and (max-width: 1199px) {
    #home-search {
        width: 100%
    }
}

