
.login-box {
    display: block;
    width: 280px;
    margin: auto;
    margin-top: 100px;
    padding: 30px;

}

#password {
    margin-top: 27px;
}

#user {
    margin-top: 27px
}

.login-btn {
    margin-top: 27px;
}

#home-search {
    width: 80%;
}

@media only screen and (max-width: 1199px) {
    #home-search {
        width: 100%
    }
}
