body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
    background-color: #eaedf2;
}

.img-size {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.dimention-news-card {
    margin: 10px 0px;
/*    display: block;*/
/*    width: 80%;*/
/*    height: auto;*/
    padding: 20px;



}

.inner-container {
    background-color: white;
    padding: 18px 18px 30px 18px;

    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.15);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.15);

}
